{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Личный блог Сашки Ковязина</h1>

    <p>
        <b>
            Привет, я только начинаю работать с WEB дизайном, поэтому не суди строго👨🏻‍🎨
        </b>
    </p>
    
    <p>Коротко обо мне:</p>
    
    <ul class="my-3">
        <li>программист</li>
        <li>химик</li>
        <li>экономист</li>
        <li>хоккеист</li>
        <li>влогер</li>
        <li>хороший человек</li>
    </ul>
    
    <p></p>
    
    <p>
        <!-- Для отображения комментариев рекомендуется использовать компонент
        <a href="https://getbootstrap.com/docs/4.0/layout/media-object/" target="_blank">Media object</a>
        из библиотеки Bootstrap. -->
        <img src="../static/images/bd1f46_f025146a5e614dde8e31c8c92dbe89d5~mv2.jpg" width='550' height='500' class="img-rounded" alt="Words_about_me">
    </p>
    
    <!-- <p>Пример возможного оформления страницы:</p>
    
    <img class="img-fluid my-3 border" src="{{ url_for('static', filename='images/post-example-page.png') }}"
        alt="Post page example">
    
    <p>
        <b>
            2. Добавьте в базовый шаблон подвал (англ. footer) сайта. Укажите там ФИО и номер группы.
        </b>
    </p>
    
    <p>
        Выложите ваше веб-приложение на хостинг. В качестве ответа на соответствующее этой лабораторной работе задание в LMS
        вам нужно указать ссылку на репозиторий с вашим решением и ссылку на ваше приложение на хостинге. В
        случае, если репозиторий закрытый, -- не забудьте предоставить преподавателю доступ.
    </p> -->
    
{% endblock %}